<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div class="login">
        <h1>Join</h1>
        <form>
            <input type="text" name="id" id="id" placeholder="아이디" required="required" />
            <input type="text" name="name" id="name" placeholder="이름" required="required" />
            <input type="password" name="psword" id="psword" placeholder="비밀번호" required="required" />
            <input type="password" name="confirm-psword" id="confirm-psword" placeholder="비밀번호 확인"
                required="required" />
            <button class="btn btn-primary btn-block btn-large">SIGN UP</button>
        </form>
    </div>
</body>

</html>

<!-- Copyright (c) 2023 by Tyler Fry (https://codepen.io/frytyler/pen/nJYVEO) -->